<div class="container pb-4">
  <div class="row">
    <div class="col-sm-7"></div>
    <div class="col-sm-1 spec-width"></div>
    <div class="col-sm-2">Проценты</div>
    <div class="col-sm-2">Количество</div>
  </div>
</div>
<div class="container">
  <div class="row" *ngFor="let prop of props">
    <div class="col-sm-7 pt-3">
      <p-slider [(ngModel)]="prop.value" (ngModelChange)="changePropValue($event, prop)"></p-slider>
    </div>
    <div class="col-sm-1 spec-width">
      <i *ngIf="lock" class="f44 fa fa-unlock-alt"></i>
      <i *ngIf="!lock" class="f44 fa fa-lock"></i>
    </div>
    <div class="col-sm-2">
      <input type="number" class="form-control" (ngModelChange)="changePropValue($event, prop)"
             [(ngModel)]="prop.value">
    </div>
    <div class="col-sm-2">
      <input type="number" class="form-control"
             (ngModelChange)="changePropElements($event, prop)"
             [(ngModel)]="prop.res">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div *ngFor="let prop of props; let i = index">
        <span>{{i}}</span>
        <span>Свойство {{prop.id}}</span>,
        <span>элементов {{prop.res}}</span>,
        <span>= {{prop.value}}%</span>
      </div>
    </div>
  </div>
</div>

